/* HTML tags */
body {
    background-color: #1a1a1a;
}

/* Bootstrap classes */
.navbar-brand {
    font-weight: bold;
    color: white;
    font-style: italic;
}

.disabled {
    font-weight: bold;
}

@media (max-width: 575px) {
    .navbar-nav {
        width: 50%;
        float: left;
    }
}

/* c3 classes */
.c3 { 
    fill: #f8f8f8; 
} 

.domain {
    stroke: #f8f8f8 !important; 
}

.tick line {
    stroke: #f8f8f8 !important; 
}

/* hazyair classes */
.hazyair-color {
    color: #f8f8f8;
}
