/* HTML tags */
body {
    padding: 0px;
    overflow-x: hidden;
    background-color: black;
}

/* Bootstrap classes */
.navbar-brand {
    font-weight: bold;
    color: white;
    font-style: italic;
}

.container {
    padding: 0px;
}

.carousel-item {
    padding-bottom: 50px;
}


/* hazyair classes */
.hazyair-result {
    font-weight: bold;
    color: green;
}

.hazyair-alert {
    font-weight: bold;
    color: red;
}

.hazyair-frame {
    width: 300px;
    height: 200px;
    border: 0px;
}


@media (min-width: 360px) {
    .hazyair-frame {
        width: 360px;
        height: 240px;
        border: 0px;
    }
}

@media (min-width: 1020px) {
    .hazyair-frame {
        width: 720px;
        height: 480px;
        border: 0px;
    }
}
