body {
    padding: 0px;
    overflow-x: hidden;
    background-color: black;
}

.hazyair-style {
    font-weight: bold;
    color: white;
    font-style: italic;
}

.hazyair-result {
    font-weight: bold;
    color: green;
}

.hazyair-alert {
    font-weight: bold;
    color: red;
}


.hazyair-carousel {
    padding-bottom: 50px;
}


.hazyair-frame {
    width: 300px;
    height: 200px;
    border: 0px;
}


@media (min-width: 360px) {
    .hazyair-frame {
        width: 360px;
        height: 240px;
        border: 0px;
    }
}

@media (min-width: 1020px) {
    .hazyair-frame {
        width: 720px;
        height: 480px;
        border: 0px;
    }
}

@media (min-width: 1740px) {
    .hazyair-frame {
        width: 1440px;
        height: 960px;
        border: 0px;
    }
}

@media (min-width: 3180px) {
    .hazyair-frame {
        width: 2880px;
        height: 1920px;
        border: 0px;
    }
}

@media screen and (orientation: landscape) {
    .hazyair-scroll {
        font-weight: bold;
        display: inline;
    }
}

@media screen and (orientation: portrait) {
    .hazyair-scroll {
        font-weight: bold;
        display: none;
    }
}